<ol class="breadcrumb">
  <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{active: $last}">
    <a ng-if="!$last" ng-href="#{{breadcrumb.path}}" ng-bind="breadcrumb.label"></a>
    <span ng-if="$last" ng-bind="breadcrumb.label"></span>
  </li>
</ol>