<form ng-if="canImpersonate();">
  <div ng-if="impersonating" class="input-group">
    <input type="text" class="form-control" disabled value="Impersonating {{impersonating}}">
    <span class="input-group-btn">
      <button type="button" class="btn btn-danger" ng-click="stopImpersonate(impersonating);">&times;</button>
    </span>
  </div>

  <div ng-if="! impersonating" class="input-group">
    <input type="text" class="form-control" ng-model="username" ng-enter="startImpersonate(username);" placeholder="Impersonate User">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="startImpersonate(username);"><i class="icon icon-user"></i></button>
    </span>
  </div>
</form>
