<h3>
  {{opportunity.name}}
  <small ng-if="opportunity.name !== opportunity.allocationType">{{opportunity.allocationType}}</small>
</h3>

<div ng-if="opportunity.opportunityType === 'Terminating'" class="alert alert-info">
  <i class="icon icon-calendar"></i>
  Submission period: {{opportunity.submissionBeginDate}} - {{opportunity.submissionEndDate}}
</div>

<div ng-if="opportunity.submissionNotes" class="alert alert-warning" style="white-space:pre-line" ng-bind-html="opportunity.submissionNotes"></div>

<div ng-if="opportunity.rules.noAvailableActionsReason" class="alert alert-warning">
  <p ng-repeat="reason in opportunity.rules.noAvailableActionsReason">{{reason}}</p>
</div>

<div ng-if="opportunity.allowSubmissions()" class="clearfix">
  <a ng-if="opportunity.rules.canSubmitNewRequest" href="#/opportunities/{{opportunity.opportunityId}}/new-request" class="btn btn-default opportunity-action">Start a New Submission</a><a ng-repeat="renewal in opportunity.rules.availableActionRequests" href="#/opportunities/{{opportunity.opportunityId}}/renewal/{{renewal.requestNumber}}" class="btn btn-default opportunity-action">Start Renewal for {{renewal.requestNumber}}</a>
</div>

<hr>

<div class="row" ng-if="opportunity.allocationType">
  <div class="col-1-2">
    <h4>New <i>{{opportunity.allocationType}}</i> requests will require:</h4>
    <div xras-requirements allocation-type="opportunity.allocationType" action-type="'new'"></div>
  </div>
  <div class="col-1-2">
    <h4>Renewal <i>{{opportunity.allocationType}}</i> requests will require:</h4>
    <div xras-requirements allocation-type="opportunity.allocationType" action-type="'renewal'"></div>
  </div>
</div>

<h4>Available Resources</h4>
<p>Listed below are the resources available for allocation for this submission opportunity.</p>
<ul>
  <li class="resource" ng-repeat="resource in opportunity.resources | orderBy:'resourceName'">
    <span>{{resource.resourceName}}</span>
    <button class="btn btn-xs btn-link" ng-if="resource.numbers || resource.requiredResources" ng-click="toggleResourceDetails(resource.resourceId);" ng-class="{'active': showResourceDetails[resource.resourceId]}"><i class="icon icon-list"></i> View Details</button>

    <div ng-if="resource.numbers || resource.requiredResources" ng-show="showResourceDetails[resource.resourceId]" class="panel panel-default">
      <div class="panel-body">
        <p ng-if="resource.siteProviderComments" ng-bind-html="resource.siteProviderComments"></p>
        <div class="row" ng-repeat="num in resource.numbers | filter : {displayResourceNumberType: '!Dollar Value'}">
          <div class="col-1-4">{{num.displayResourceNumberType}}</div>
          <div class="col-3-4">{{num.amount}}</div>
        </div>
        <div class="row" ng-if="resource.requiredResources">
          <div class="col-1-4">
            <span twbs-tooltip title="If you request this resource you must also submit a request for at least one of the following resource(s).">
              Resource Dependency <i class="icon icon-info-sign"></i>
            </span>
          </div>
          <div class="col-3-4">
            <ul>
              <li ng-repeat="rr in resource.requiredResources">{{rr.resourceName}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
