<h3>
  <a href="#/opportunities/{{opportunity.opportunityId}}">
    <span>{{opportunity.name}}</span>
    <small ng-if="opportunity.name !== opportunity.allocationType">{{opportunity.allocationType}}</small>
  </a>
</h3>

<div ng-if="opportunity.opportunityType === 'Terminating'" class="alert alert-info">
  <i class="icon icon-calendar"></i>
  Submission period: {{opportunity.submissionBeginDate}} - {{opportunity.submissionEndDate}}
</div>

<div ng-if="opportunity.submissionNotes" class="alert alert-warning" style="white-space:pre-line" ng-bind-html="opportunity.submissionNotes"></div>

<div ng-if="opportunity.rules.noAvailableActionsReason" class="alert alert-warning">
  <p ng-repeat="reason in opportunity.rules.noAvailableActionsReason">{{reason}}</p>
</div>

<div class="clearfix" ng-if="opportunity.allowSubmissions()">
  <a ng-if="opportunity.rules.canSubmitNewRequest" href="#/opportunities/{{opportunity.opportunityId}}/new-request" class="btn btn-default opportunity-action">Start a New Submission</a><a ng-repeat="renewal in opportunity.rules.availableActionRequests" href="#/opportunities/{{opportunity.opportunityId}}/renewal/{{renewal.requestNumber}}" class="btn btn-default opportunity-action">Start Renewal for {{renewal.requestNumber}}</a>
</div>
