<span class="publication-authors">
  <span ng-repeat="a in publication.authors">{{a.author.firstName|limitTo:1}}. {{a.author.lastName}}</span>.
</span>
<b>{{publication.title}}.</b>
<span ng-repeat="data in publication.data">
  <span ng-if="data.value">{{data.value}}</span>.
</span>
<span>{{publication.year}}.</span>
