<div class="request">
  <h3>
    <span ng-if="request.title">{{request.title}}</span>
    <span ng-if="!request.title">(Untitled)</span>
    <br><small>{{request.requestNumber}} ({{request.requestType}})</small>
  </h3>

  <h4 ng-if="requestOpportunities[request.opportunityId]">
    <span>{{requestOpportunities[request.opportunityId].name}}</span>
    <small ng-if="requestOpportunities[request.opportunityId].name !== requestOpportunities[request.opportunityId].allocationType">{{requestOpportunities[request.opportunityId].allocationType}}</small>
  </h4>

  <div ng-repeat="role in request.roles|orderBy:requestRoleSort">
    <b><span ng-repeat="r in role.roles">{{r.role}}{{$last ? '' : ', '}}</span></b>:
    {{role.person.lastName}}, {{role.person.firstName}}
  </div>

  <div class="well">
    <a href="#/requests/{{request.requestId}}" class="btn btn-default">View</a>
    <div ng-if="allowRequestOp(request, 'Edit');" class="btn-group">
      <a class="btn btn-default" href="#/requests/{{request.requestId}}/edit">Edit</a>
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/requests/{{request.requestId}}/edit"><i class="icon icon-magic"></i> Guided</a></li>
        <li><a href="#/requests/{{request.requestId}}/edit/advanced"><i class="icon icon-bolt"></i> Advanced</a></li>
      </ul>
    </div>
    <div ng-if="request.rules.allowedActions.length" class="btn-group">
      <button class="btn btn-default btn-primary dropdown-toggle" data-toggle="dropdown">
        Actions <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="action in request.rules.allowedActions">
          <a href="#/requests/{{request.requestId}}/new-action/{{action}}">{{action}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
