<h2>
  Reviews for: {{request.title}}
  <br>
  <small>
    Submission for {{opportunity.name}}
    <a class="btn btn-link" target="_blank" href="#/opportunities/{{request.opportunityId}}">View Opportunity</a>
  </small>
</h2>

<div ng-if="request.rules.allowedActions.length" class="well well-sm">
  <h4 style="display: inline-block; vertical-align: middle;">Request Actions Available:</h4>
  <div class="btn-group">
    <button class="btn btn-default btn-primary dropdown-toggle" data-toggle="dropdown">
      Actions <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="action in request.rules.allowedActions">
        <a href="#/requests/{{request.requestId}}/new-action/{{action}}">{{action}}</a>
      </li>
    </ul>
  </div>
</div>

<div ng-if="opportunity.adminComments">
  <h4>Meeting Comments</h4>
  <div style="white-space:pre-line">{{opportunity.adminComments}}</div>
  <button class="btn btn-xs btn-default" ng-if="opportunity.adminCommentsTruncated" ng-click="showMeetingComments();">Show More</button>
</div>

<div ng-repeat="action in request.rules.existingActions | filter: {reviewsViewable:true}" class="action">
  <h3>Action Type: {{action.actionType}}</h3>
  <p>
    <b>Status:</b>
    {{actions[action.actionId].actionStatus}}
  </p>
  <p>
    <b>Allocations administrator comments:</b>
    {{actions[action.actionId].adminComments || '(none)'}}
  </p>

  <ul class="nav nav-tabs" role="tablist">
    <li ng-repeat="review in reviews[action.actionId].reviews" role="tab" ng-class="{'active': review.active}">
      <a ng-click="showReview(action.actionId, review.reviewId);">Review {{$index + 1}}</a>
    </li>
  </ul>

  <div class="tab-content">
    <div ng-repeat="review in reviews[action.actionId].reviews" id="review_{{review.reviewId}}" class="tab-pane review" ng-class="{'active': review.active}">
      <p>Date reviewed: {{review.dateReviewed}}</p>

      <h4>Overall rating</h4>
      <p>{{review.overallRating}}</p>

      <div ng-if="review.review">
        <h4>Review</h4>
        <p>{{review.review}}</p>
      </div>

      <div ng-if="review.methodology">
        <h4>Methodology</h4>
        <p>{{review.methodology}}</p>
      </div>

      <div ng-if="review.researchPlan">
        <h4>Research plan</h4>
        <p>{{review.researchPlan}}</p>
      </div>

      <div ng-if="review.resourcesUse">
        <h4>Resource Use</h4>
        <p>{{review.resourcesUse}}</p>
      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-1-4"><h4 class="list-group-item-heading">Resource</h4></div>
            <div class="col-1-4"><h4 class="list-group-item-heading">Suggested award</h4></div>
            <div class="col-2-4"><h4 class="list-group-item-heading">Comments</h4></div>
          </div>
        </li>
        <li class="list-group-item" ng-repeat="resource in review.resources">
          <div class="row">
            <div class="col-1-4"><b>{{resources[resource.resourceId].displayResourceName}}</b></div>
            <div class="col-1-4">
              {{resource.suggestedAmount|number : 2}}
              {{resources[resource.resourceId].units}}
            </div>
            <div class="col-2-4">{{resource.comments || '(none)'}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <hr ng-if="!$last">
</div>

<div ng-if="loading">
  <div class="lead text-center">
    <i class="icon icon-spinner icon-spin"></i> Loading Reviews...
  </div>
</div>
