<h3>New {{actionType}}</h3>

<div ng-if="loaded">

  <h4>To complete this request you should have the following information ready:</h4>
  <div xras-requirements allocation-type="opportunity.allocationType" action-type="actionType"></div>

  <button  ng-disabled="model.saving" ng-click="createAction();" class="btn btn-lg btn-success">
    Start {{actionType}}
  </button>

  <a href="#/requests/{{request.requestId}}" class="btn btn-lg btn-default">
    Cancel
  </a>

</div>
