<h4>
  <span ng-if="renewalNumber">{{opportunity.opportunityName}}: {{renewalNumber}} Renewal</span>
  <span ng-if="!renewalNumber">{{opportunity.opportunityName}}: New Request</span>
</h4>

<div ng-if="opportunity.submissionNotes" class="alert alert-warning" style="white-space:pre-line" ng-bind-html="opportunity.submissionNotes"></div>

<div ng-if="opportunity.allocationType">
  <p ng-bind-html="summaryInfo"></p>
  <h4>To complete this request you should have the following information ready:</h4>
  <div xras-requirements allocation-type="opportunity.allocationType" action-type="renewalNumber ? 'renewal' : 'new'"></div>
</div>

<button ng-click="createRequest(false);" class="btn btn-success">
  <i class="icon icon-magic"></i>
  Begin Guided Submission
</button>

<!--
<button ng-click="createRequest(true);" class="btn btn-default">
  <i class="icon icon-bolt"></i>
  Begin Advanced Submission
</button>
-->
<a href="#/opportunities/{{opportunity.opportunityId}}" class="btn btn-default">Cancel</a>
