<ul>
  <li ng-repeat="req in reqs">
    <span>{{req | unUnderscore}}</span>
    <span ng-if="req === 'documents' && docs">
      (<span ng-repeat="doc in docs">{{doc | unUnderscore}}{{$last ? '' : ', '}}</span>)
    </span>
  </li>
</ul>
