<a href="mailto:{{person.email}}">
  {{person.firstName}} {{person.lastName}} &lt;{{person.email}}&gt;
</a><br>
<span>{{person.organization}}</span><br>
<span><a href="tel:{{person.phone}}">{{person.phone}}</a></span>
