input[type="reset"],
input[type="submit"],
input[type="button"],
button {
  @include box-shadow(none);
  letter-spacing: 0;
  text-shadow: none;
  text-transform: none;
  background: none;
  border: 0;

  &:hover,
  &:focus {
    @include box-shadow(none);
    background-image: none;
  }
}

input[type="file"].form-control {
  height: auto;
}

.breadcrumb {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
  padding: 4px 8px;

  & > li {
    margin: 0;
  }
}

.nav {
  margin-left: 0;
}

.nav-tabs {
  margin-bottom: 10px;
}

label {
  font-size: 12px;
  letter-spacing: 0;
  text-transform: none;
}

.checkbox,
.radio {
  margin: 0;
}

.list-group {
  margin-left: 0;
}

.list-group-item {
  margin-top: 0;
}

.list-group-item .row {
  margin-bottom: 0;
}
