<div><b>{{attributeSet.attributeSetName}}</b></div>
<div ng-repeat="attribute in attributeSet.attributes" class="checkbox">
  <label>
    <input type="checkbox" ng-model="values[attribute.attributeId].attributeValue" ng-true-value="{{attribute.attributeName}}">
    {{attribute.attributeName}}
  </label>
</div>
