<div style="font-weight: bold;" ng-show="attributeSet.attributeSetName" ng-bind-html="attributeSet.attributeSetName"></div>
<div ng-repeat="attribute in attributeSet.attributes" class="radio">
  <label>
    <input type="radio" name="attributeSet_{{attributeSet.attributeSetId}}"
           ng-model="values[attribute.attributeId].attributeValue"
           ng-change="handleSelect(attribute)"
           value="{{attribute.attributeName}}">
    {{attribute.attributeName}}
  </label>
</div>
