<p>{{attributeSet.attributeSetName}}</p>

<p ng-repeat="attr in attributeSet.attributes" ng-if="values[attr.attributeId].attributeValue">
  <b>{{attr.attributeName}}</b>
  {{values[attr.attributeId].attributeValue}}
</p>
