<p>{{attributeSet.attributeSetName}}</p>
<div ng-repeat="attribute in attributeSet.attributes" class="form-group" ng-class="{'required':attribute.isRequired}">
  <label>{{attribute.attributeName}}</label>
  <input type="text" class="form-control" ng-model="values[attribute.attributeId].attributeValue">
</div>
