<div ng-if="loading">
  <div class="lead text-center">
    <i class="icon icon-spinner icon-spin"></i> Loading...
  </div>
</div>
<div ng-hide="loading">
<h2>
  <div class="pull-right">
    <span ng-show="saving" class="form-status">
      <i class="icon icon-spinner icon-spin"></i> Saving changes...
    </span>
    <button type="button" class="btn btn-default" ng-click="guided();" ng-disabled="saving">
      <i class="icon icon-magic"></i> Guided
    </button>
  </div>
  Editing Request: <span class="title-clip">{{request.title || '[Untitled Request]'}}</span><br>
  <small>{{request.requestType}} Submission for {{opportunity.name}}</small>
</h2>

<form name="requestForm" ng-submit="submitRequest();">

  <fieldset>
    <legend>Information and Abstract <i class="fa fa-info-circle" aria-hidden="true" title="Specify the title and abstract for your allocation request, specify a primary field of science and, if applicable, any additional fields of science."></i></legend>
    <div ng-controller="RequestFormInfoCtrl" ng-include="'views/requestForm/requestInfo.html'"></div>
  </fieldset>

  <fieldset>
    <legend>Personnel / Roles <i class="fa fa-info-circle" aria-hidden="true" title="By default you are added to the request as an Allocation Manager. You can update your role to be PI or Co-PI, if applicable. Add other people to this request by looking them up by their XSEDE Portal Username."></i></legend>
    <h4>PI, Co-PIs, and Allocation Managers</h4>
    <div ng-controller="RequestFormRoleCtrl" ng-include="'views/requestForm/requestRoles.html'"></div>

    <hr>

    <h4>Users (optional)</h4>
    <p>
      If you already have a list of users that should be added to this project,
      should it be awarded, you can add them now. <b>Each person that is to be added
      as a user must have an existing XSEDE User Portal account.</b> You will need to
      know their username in order to add them.
      <br>
      <b>Please make sure the user has successfully logged in to the XSEDE User Portal and accepted the Acceptable Use Policy.</b>
      <br><br>
      <button type="button" class="btn btn-default" ng-click="showAddUsers = ! showAddUsers"><i class="icon icon-group"></i> Add Users</button>
    </p>
    <div ng-show="showAddUsers" ng-controller="RequestFormUserCtrl" ng-include="'views/requestForm/requestUsers.html'"></div>
  </fieldset>

  <fieldset ng-hide="opportunity.attributeSets.length === 0">
    <legend>Resource Information <i class="fa fa-info-circle" aria-hidden="true" title="The percentage of the work you expect to do in this allocation and what percentage of the science runs you expect to perform in this allocation."></i></legend>
    <div ng-controller="RequestFormOpportunityCtrl" ng-include="'views/requestForm/requestOpportunity.html'"></div>
  </fieldset>

  <fieldset>
    <legend>Specify Resources <i class="fa fa-info-circle" aria-hidden="true" title="Select each resource you want to request and fill out the available related information."></i></legend>
    <div class="portlet-msg-info">
      For additional assistance selecting an appropriate resource please contact the XSEDE Help Desk at help@xsede.org
    </div>
    <div ng-controller="RequestFormResourcesCtrl" ng-include="'views/requestForm/requestResources.html'"></div>
  </fieldset>

  <fieldset>
    <legend>Supporting Documents <i class="fa fa-info-circle" aria-hidden="true" title="Please upload any supporting documents in PDF format."></i></legend>
    <div ng-controller="RequestFormDocumentsCtrl" ng-include="'views/requestForm/requestDocuments.html'"></div>
  </fieldset>

  <fieldset>
    <legend>Supporting Grants (Optional) <i class="fa fa-info-circle" aria-hidden="true" title="If you have no supporting grant information please select NO for the question below."></i></legend>
    <div style="position:relative">
          <label>
           Is this project supported by grants?
                <input type="radio" ng-model="request.isSupportedByGrants" name="isSupportedByGrants" ng-value="true"> Yes
                <input type="radio" ng-model="request.isSupportedByGrants" name="isSupportedByGrants" ng-value="false"> No
          </label>
        </div>
        <div ng-show="request.isSupportedByGrants">
    		<div ng-controller="RequestFormGrantsCtrl" ng-include="'views/requestForm/requestGrants.html'"></div>
	</div>
  </fieldset>

  <fieldset>
    <legend>Publications Resulting From XSEDE Work <i class="fa fa-info-circle" aria-hidden="true" title="Publications are required for campus champions, renewals and software testbed requests."></i></legend>
    <div ng-controller="RequestFormPublicationsCtrl" ng-include="'views/requestForm/requestPublications.html'"></div>
  </fieldset>

  <hr>

  <div class="form-actions">
    <button type="submit" class="btn btn-success btn-lg" ng-disabled="saving">
      <i class="icon icon-ok"></i>
      Save &amp; Submit Request
    </button>
    <button type="button" class="btn btn-default btn-lg" ng-disabled="saving" ng-click="saveRequest();">
      <i class="icon icon-time"></i>
      Save for Later
    </button>
    <button type="button" class="btn btn-default btn-lg" ng-disabled="saving" ng-click="cancel();">Cancel</button>
    <span ng-show="saving" class="form-status">
      <i class="icon icon-spinner icon-spin"></i> Saving changes...
    </span>
  </div>
</form>
</div>
