<div class="callout" ng-if="documentRequirements">
  The following documents are required:
  <ul>
    <li ng-repeat="req in documentRequirements">{{req}}</li>
    <li>CoPI CV required for every CoPI added to request, (2 page limit)</li>
  </ul>
  <b>Please note that page limits are now being enforced!</b>
</div>

<ol>
  <li ng-repeat="doc in action.documents">
    <b>{{doc.title}}</b>
    <div class="row">
      <div class="col-2-3">
        <ul class="list-unstyled">
          <li><b>Type:</b> {{docTypesIndex[doc.documentType].displayDocumentType}}</li>
          <li><b>File:</b> {{doc.filename}} ({{convertBytes(doc.size)}})</li>
        </ul>
      </div>
      <div class="col-1-3 text-right">
        <a download="{{doc.filename}}" href="{{downloadDocumentUrl(doc)}}" class="btn btn-sm btn-default"><i class="icon icon-download"></i> Download</a>
        <button type="button" ng-click="removeDocument($index, doc);" class="btn btn-sm btn-danger" title="Remove document">&times</button>
      </div>
    </div>
  </li>
</ol>

<div style="position: relative">
  <button type="button" class="btn btn-sm btn-default" ng-click="addDocument();">Add Document</button>
  <div ng-if="editing" class="block-ui-modal"></div>
  <div ng-if="editing" class="block-ui-modal-dialog" ng-class="{'block-ui': uploadInProgress}">
    <alert ng-repeat="msg in messages | filter : {key: 'docs'} : true" message="msg" close="close(message);"></alert>
    <div class="form-group required">
      <div class="row">
        <div class="col-1-3">
          <label>Title</label>
          <input type="text" class="form-control" ng-model="editing.title" placeholder="Document Title">
        </div>

        <div class="col-1-3">
          <label>Type</label>
          <select class="form-control" ng-model="editing.documentType" ng-options="dt.documentType as dt.displayDocumentType for dt in docTypes | orderBy:'displayDocumentType'">
            <option value="">Select document type</option>
          </select>
        </div>

        <div class="col-1-3">
          <label>Upload File</label>
          <input type="file" accept=".pdf" class="form-control" ng-model="editing.document" ng-file-select="onFileSelect($files)" placeholder="Choose file">
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-sm btn-success" ng-click="uploadDocument();"><i class="icon icon-cloud-upload"></i> Upload and Add to Request</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="cancelUpload();">Cancel</button>
    <span ng-show="uploadInProgress"><i class="icon icon-spinner icon-spin"></i> Uploading document...</span>
  </div>
</div>
