<div class="row">
  <div class="col-3-5">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="search.username" placeholder="Enter username to lookup" ng-enter="addUser();">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="addUser();">
            <i class="icon icon-search"></i> Find &amp; Add to Request
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="col-2-5">
    <span ng-if="loading" class="form-status">
      <i class="icon icon-spinner icon-spin"></i> Looking up person...
    </span>
  </div>
</div>

<div class="row">
  <div class="col-1-2" ng-repeat="role in request.roles|filter:isUser">
    <address>
      <button type="button" class="btn btn-danger btn-xs pull-right" title="Remove User" ng-click="removeUser(role);">&times;</button>
      <div xras-person person="role.person"></div>
    </address>
  </div>
</div>
