<div ng-if="loading">
  <div class="lead text-center">
    <i class="icon icon-spinner icon-spin"></i> Loading...
  </div>
</div>
<div ng-hide="loading">
  <h2>
    <div class="pull-right">
      <span ng-show="savingChanges" class="form-status">
        <i class="icon icon-spinner icon-spin"></i> Saving changes...
      </span>
      <button type="button" class="btn btn-default" ng-click="advanced();" ng-disabled="savingChanges">
        <i class="icon icon-bolt"></i> Advanced
      </button>
    </div>
    Editing Request: <span class="title-clip">{{request.title || '[Untitled Request]'}}</span><br>
    <small>{{request.requestType}} Submission for {{opportunity.name}}</small>
  </h2>

  <form name="requestForm" ng-class="{'block-ui':savingChanges}">
    <div wizard class="wizard" edit-mode="request.requestId" current-step="wizardStep" on-finish="submitRequest();">

      <section wz-step wz-title="Personnel">
        <h3>Personnel / Roles <span style="font-size: 12px;"><a href="https://portal.xsede.org/allocation-request-steps#personnel"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a></span></h3>

        <p class="callout">
          By default you are added to the request as an <b>Allocation Manager</b>.
          You can update your role to be PI or Co-PI, if applicable. Add other people
          this request by looking them up by their XSEDE Portal Username. Then you
          can selected the person's role for the request.
        </p>

        <p class="callout">
          <b>Note</b>: Each person to be added to the request must already have a
          portal account and must provide you with their XSEDE Portal Username.
          For security reasons, we do not permit you to search to find portal
          usernames; you must provide a valid username. After providing a username,
          the person's full name, email address, institution, and phone number are
          shown for confirmation.
        </p>

        <h4>PI, Co-PIs, and Allocation Managers</h4>
        <div ng-controller="RequestFormRoleCtrl" ng-include="'views/requestForm/requestRoles.html'"></div>
        <hr>

        <h4>Users (optional)</h4>
        <p>
          If you already have a list of users that should be added to this project,
          should it be awarded, you can add them now. <b>Each person that is to be added
          as a user must have an existing XSEDE User Portal account.</b> You will need to
          know their username in order to add them.
          <br><br>
          <b>Please make sure the user has successfully logged in to the XSEDE User Portal and accepted the Acceptable Use Policy.</b>
          <br>
          <button type="button" class="btn btn-default" ng-click="showAddUsers = ! showAddUsers"><i class="icon icon-group"></i> Add Users</button>
        </p>
        <div ng-show="showAddUsers">
          <div ng-controller="RequestFormUserCtrl" ng-include="'views/requestForm/requestUsers.html'"></div>
        </div>
      </section>

      <section wz-step wz-title="Title/Abstract">
        <h3>Title, Abstract, Field of Science <span style="font-size: 12px;"><a href="https://portal.xsede.org/allocation-request-steps#title"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a></span></h3>
        <div class="callout">
          Here is where you specify the title and abstract for your allocation request. In the abstract please describe
          your research in a clear and concise manner. Someone outside of your field of research should be able to
          understand your proposal. This section also enables you to specify a primary field of science and, if applicable,
          any additional fields of science.
        </div>
        <div ng-controller="RequestFormInfoCtrl" ng-include="'views/requestForm/requestInfo.html'"></div>

        <div ng-if="opportunity.attributeSets.length">
          <h3>Resource Information</h3>
        <div class="callout">
           Please answer the questions below percentage of the work you
           expect to do in this allocation and what percentage of the science runs you expect to perform in this allocation.
        </div>
          <div ng-controller="RequestFormOpportunityCtrl" ng-include="'views/requestForm/requestOpportunity.html'"></div>
        </div>
      </section>

      <section wz-step wz-title="Resources">
        <h3>Specify Resources <span style="font-size: 12px;"><a href="https://portal.xsede.org/allocation-request-steps#resources"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a></span></h3>
        <div class="callout">
          Here are the code development support, compute, visualization, and storage resources that are
          available for this submission opportunity. From the Available
          Resources list, you can select each resource you want to request and
          fill out the available related information. To remove a selected resource please 
          click on the highlighted resource name in the list to the left to remove the resource 
          itself from this request. Certain resources have
          secondary requirements, please make sure to pay attention to those. To
          assist with resource selection please visit the
          <a href="https://www.xsede.org/resources/" target="_blank">XSEDE Resource listing</a>
          and the
          <a href="https://portal.xsede.org/software" target="_blank">XSEDE Software Search</a>.
        </div>
        <div class="portlet-msg-info">
          For additional assistance selecting an appropriate resource please contact the XSEDE Help Desk at help@xsede.org
        </div>
        <div ng-controller="RequestFormResourcesCtrl" ng-include="'views/requestForm/requestResources.html'"></div>
      </section>

      <section wz-step wz-title="Documents">
        <h3>Supporting Documents <span style="font-size: 12px;"><a href="https://portal.xsede.org/allocation-request-steps#documents"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a></span></h3>
        <div class="callout">
          Please upload any supporting documents in PDF format. Other document formats are not accepted at this time.
        </div>

        <div ng-controller="RequestFormDocumentsCtrl" ng-include="'views/requestForm/requestDocuments.html'"></div>
      </section>

      <section wz-step wz-title="Grants">
        <h3>Supporting Grants (Optional) <span style="font-size: 12px;"><a href="https://portal.xsede.org/allocation-request-steps#grants"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a></span></h3>
        <div class="callout">
          If you have no supporting grant information please select NO for the question below. If your project has one or more supporting
          grants please select YES and then add your grant information. You must complete all required fields for each grant for final 
	  submission. For research submissions, supporting grant
          information informs the reviewers that the science has been reviewed and that sufficient funding (for staff and
          student time, etc.) is available to complete the work proposed. For startup and education allocations, supporting
          grant information is not essential, but helps XSEDE in its reports to NSF. All current research funding affected
          by or benefitting from the use of the allocation requested in your research request should be listed.
        </div>
        <div style="position:relative">
          <label>
           Is this project supported by grants?
                <input type="radio" ng-model="request.isSupportedByGrants" name="isSupportedByGrants" ng-value="true"> Yes
                <input type="radio" ng-model="request.isSupportedByGrants" name="isSupportedByGrants" ng-value="false"> No
          </label>
        </div>
        <div ng-show="request.isSupportedByGrants">
        	<div ng-controller="RequestFormGrantsCtrl" ng-include="'views/requestForm/requestGrants.html'"></div>
	</div>
      </section>

      <section wz-step wz-title="Publications">
        <h3>Publications Resulting from XSEDE Work <span style="font-size: 12px;"><a href="https://portal.xsede.org/allocation-request-steps#publications"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a></span></h3>
        <div class="callout">
          Publications are required for campus champions, renewals and software testbed requests. This list is
          generated from publications by users on this request. To add new publications that do not appear here please
          enter it first in your <a target="_blank" href="https://portal.xsede.org/group/xup/profile">XSEDE User Portal
          profile</a> then it will automatically appear here for you to select from.
        </div>
        <div ng-controller="RequestFormPublicationsCtrl" ng-include="'views/requestForm/requestPublications.html'"></div>
      </section>

      <section wz-step wz-title="Submit">

        <div ng-if="validation.status === 'validating'">
          <h3>Request Validation</h3>
          <div class="jumbotron">
            <p class="text-center lead">
              <i class="icon icon-spinner icon-spin"></i>
              Validating request...
            </p>
          </div>
        </div>

        <div ng-if="validation.status === 'invalid'">
          <h3>Fix Errors <span style="font-size: 12px;"><a href="https://portal.xsede.org/allocation-request-steps#submit"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a></span></h3>
          <p class="alert alert-danger" ng-repeat="error in validation.errors track by $index">{{error}}</p>
          <p>
            There are errors that need to be fixed before your request can
            be submitted.
          </p>
        </div>

        <div ng-if="validation.status === 'valid'">
          <h3>Request Ready to Submit</h3>
          <p class="lead">
            Congratulations! Your request is ready for submission. Click below
            to submit your request. If you are not quite ready to submit your
            request you can save and return to submit it at a later time.
          </p>
          <button type="submit" class="btn btn-success btn-lg" wz-finish>
            <i class="icon icon-ok"></i>
            Submit Request
          </button>
          <button type="button" class="btn btn-default btn-lg" ng-click="saveForLater();">
            <i class="icon icon-time"></i>
            Save for Later
          </button>
        </div>

      </section>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <button type="button" ng-if="wizardStep !== 'Personnel'" class="btn btn-default navbar-btn navbar-left" ng-disabled="savingChanges" ng-click="saveAndStep(false);"><i class="icon icon-arrow-left"></i> Previous</button>
          <button type="button" ng-if="wizardStep !== 'Submit'" class="btn btn-primary navbar-btn navbar-right" ng-disabled="savingChanges" ng-click="saveAndStep(true);">Next <i class="icon icon-arrow-right"></i></button>

          <div ng-if="savingChanges" class="navbar-text text-center" style="float:none;">
            <i class="icon icon-spinner icon-spin"></i> Saving changes...
          </div>
        </div>
      </nav>
    </div>
  </form>
</div>
