<div class="row">
  <div class="col-1-4">
    <a class="resource-btn btn btn-block btn-default"
      ng-repeat="option in resources.options | orderBy:'resourceName'"
      ng-class="{'btn-primary active': resources.selected[option.resourceId].selected}"
      ng-click="selectResource(option);">
      {{option.displayResourceName}}
    </a>
  </div>

  <div class="col-3-4">
    <div ng-repeat="res in action.resources | filter : {type : 'Requested'} : true | orderBy : 'resourceName'" class="request-resource">
      <h4>{{res.resourceName}}</h4>

      <p ng-show="resources.selected[res.resourceId].description" ng-bind-html="resources.selected[res.resourceId].description"></p>

      <div class="callout"
        ng-show="resources.index[res.resourceId].siteProviderComments"
        ng-bind-html="resources.index[res.resourceId].siteProviderComments">
      </div>

      <div class="form-group required">
        <label>Amount requested</label>
        <div class="input-group">
          <input type="text" ng-model="res.amount" class="form-control">
          <span class="input-group-addon">{{resources.selected[res.resourceId].units}}</span>
        </div>
        <p class="help-block" ng-if="resources.selected[res.resourceId].originalRequest">
          Your original request on this resource was:
          <b>{{resources.selected[res.resourceId].originalRequest.amount | number: 2}}</b>
        </p>
      </div>

      <div class="form-group">
        <label>Comments</label>
        <textarea ng-model="res.comments" class="form-control"></textarea>
      </div>

      <div ng-if="resources.selected[res.resourceId].attributeSets">
        <div ng-repeat="attrSet in resources.selected[res.resourceId].attributeSets"
          xras-attr-set-form attribute-set="attrSet" values="resourceAttributeMap[res.resourceId]">
        </div>
      </div>
    </div>
  </div>
</div>
