<div ng-if="action.adminComments">
  <h4>Allocations Administrator Comments</h4>
  <p ng-if="viewComments">{{action.adminComments}}</p>
  <a class="btn btn-xs btn-default" ng-click="viewComments=!viewComments">
    <span ng-if="!viewComments">View Comments</span>
    <span ng-if="viewComments">Hide Comments</span>
  </a>
</div>

<div ng-if="action.userComments">
  <h4>Comment/Justification</h4>
  <p>{{action.userComments}}</p>
</div>

<div ng-if="action.allocationDates">
  <h4>Requested Extension</h4>
  <span ng-repeat="date in action.allocationDates">
    {{date.endDate}}
  </span>
</div>

<div ng-if="action.documents">
  <h4>Documents</h4>
  <ol>
    <li ng-repeat="doc in action.documents">
      <i>{{docTypesIndex[doc.documentType].displayDocumentType}}</i>:
      <b>{{doc.title}}</b>
      <a download="{{doc.filename}}" href="{{downloadDocumentUrl(request, action, doc)}}" title="Download this document">
        {{doc.filename}} ({{convertBytes(doc.size)}})
      </a>
    </li>
  </ol>
</div>

<div ng-if="action.resources">
  <h4>Resources</h4>
  <ol>
    <li ng-repeat="(resourceId, resourceNumbers) in action.resourceIndex">
      <div class="request-resource">
        <p>{{resourceNumbers[0].resourceName}}</p>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="number in resourceNumbers">
            <div class="row">
              <div class="col-1-4"><b>{{number.type}}</b></div>
              <div class="col-1-4">
                {{number.amount|number : 2}}
                {{selectedResources[action.actionId][resourceId].units}}
              </div>
              <div class="col-2-4">Comments: {{number.comments || '(none)'}}</div>
            </div>
          </li>
          <li class="list-group-item" ng-repeat="attrSet in selectedResources[action.actionId][resourceId].attributeSets">
            <xras-attr-set-display attribute-set="attrSet" values="action.resourceAttributes[resourceId]"></xras-attr-set-display>
          </li>
        </ul>
      </div>
    </li>
  </ol>
</div>
