<h4>Opportunity Information</h4>
<ul class="list-group">
  <li class="list-group-item" xras-attr-set-display ng-repeat="attrSet in opportunity.attributeSets" attribute-set="attrSet" values="action.opportunityAttributes"></li>
</ul>

<div ng-if="action.allocationDates.length > 0">
  <h4>Allocation Dates</h4>
  <div class="row" ng-repeat="date in action.allocationDates">
    <div class="col-1-5">
      <b>{{date.allocationDateType}}</b>
    </div>
    <div class="col-2-5">
      <ul class="list-unstyled">
        <li><b>Begin Date</b> {{date.beginDate}}</li>
        <li><b>End Date</b> {{date.endDate}}</li>
      </ul>
    </div>
  </div>
</div>

<h4>Resources</h4>
<p ng-if="action.resources.length === 0" class="alert alert-info">No resources requested!</p>
<ol ng-if="action.resources">
  <li ng-repeat="(resourceId, resourceNumbers) in action.resourceIndex">
    <div class="request-resource">
      <p>{{resourceNumbers[0].resourceName}}</p>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="number in resourceNumbers">
          <div class="row">
            <div class="col-1-4"><b>{{number.type}}</b></div>
            <div class="col-1-4">
              {{number.amount|number : 2}}
              {{selectedResources[action.actionId][resourceId].units}}
            </div>
            <div class="col-2-4">Comments: {{number.comments || '(none)'}}</div>
          </div>
        </li>
        <li class="list-group-item" ng-repeat="attrSet in selectedResources[action.actionId][resourceId].attributeSets">
          <xras-attr-set-display attribute-set="attrSet" values="action.resourceAttributes[resourceId]"></xras-attr-set-display>
        </li>
      </ul>
    </div>
  </li>
</ol>

<div ng-if="action.documents">
  <h4>Documents</h4>
  <ol>
    <li ng-repeat="doc in action.documents">
      <i>{{docTypesIndex[doc.documentType].displayDocumentType}}</i>:
      <b>{{doc.title}}</b>
      <a download="{{doc.filename}}" href="{{downloadDocumentUrl(request, action, doc)}}" title="Download this document">
        {{doc.filename}} ({{convertBytes(doc.size)}})
      </a>
    </li>
  </ol>
</div>
